{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Rechercher un(e) responsable des stages</h1>



    <table id="tab" class="table table-striped table-bordered table-hover tableau-donnees" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Mail Academique</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>

        <tbody>
            {% for unResponsable in responsables_des_stages %}
                <tr class="ligne" >
                    <th id="{{ unResponsable.id }}" >{{unResponsable.login}}</th>
                    <td>{{unResponsable.nom}}</td>
                    <td>{{unResponsable.prenom}}</td>
                    <td>{{unResponsable.mailAcademique}}</td>
                    <td><a href={{ path('responsable_des_stages_modifier', {'id' : unResponsable.id}) }} class="edit-btn btn btn-warning active invisible">✎</a></td>
                    <td><a href="{{ path('responsable_des_stages_supprimer', {'id' : unResponsable.id}) }}" class="edit-btn btn btn-danger active invisible">❌</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a class="btn btn-success" href= {{ path('responsable_des_stages_nouveau')}} role="button">Créer un(e) responsable des stages</a>

{% endblock %}

{%  block javascripts %}
{{ parent() }}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    {{ encore_entry_script_tags('data-tables') }}
{% endblock %}
