{% extends 'base.html.twig' %}

{% block title %}Gestion informations{% endblock %}

{% block body %}
<h1>Informations globales IUT</h1>
{% for msg in app.session.flashBag.get('validModificationInformationsGlobales') %}
  <div class="alert alert-success">
    {{ msg }}
</div>
{% endfor %}
{{ form_start(form) }}

{{ form_row(form.description , {'label': 'Description'}) }}
<button type="submit" class="btn btn-success">Modifier les informations</button>
<a class="btn btn-primary" href="{{ path('home') }}" role="button">Annuler</a>
{{ form_end(form) }}
{% endblock %}
