{% extends 'base.html.twig' %}
{% form_theme form_create_entreprise 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% if editMode %}
        <h1>Modification de l'entreprise {{ entreprise.nom }}</h1>
    {% else %}
        <h1>Création d'une entreprise</h1>
    {% endif %}

    {{ form_start(form_create_entreprise) }}

    {{ form_row(form_create_entreprise.nom , {'label': 'Nom','attr' : {'placeholder' : "Nom de l'entreprise" }}) }}


    {% if editMode == false %}
        {{ form_row(form_create_entreprise.password,{'label': 'Mot de passe','attr' : {'placeholder' : "Mot de passe de l'entreprise" }}) }}
    {% endif %}

    {{ form_row(form_create_entreprise.adresseMail, {'attr' : {'placeholder' : "Mail de l'entreprise" }}) }}
    {{ form_row(form_create_entreprise.password, {'attr' : {'placeholder' : "mot de passe de l'entreprise" }}) }}


    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Modifier l'entreprise
        {% else %}
            Créer l'entreprise
        {% endif %}
    </button>

    {{ form_end(form_create_entreprise) }}
{% endblock %}
