{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<h1>Rechercher un contact</h1>

{% for msg in app.session.flashBag.get('notDelete') %}
  <div class="alert alert-primary" role="alert">
    {{ msg }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endfor %}

{% for msg in app.session.flashBag.get('delete') %}
  <div class="alert alert-success" role="alert">
    {{ msg }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
</div>
{% endfor %}
{% for msg in app.session.flashBag.get('success') %}
    <div class="alert alert-success" role="alert">
        {{ msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% for msg in app.session.flashBag.get('success_modifie') %}
    <div class="alert alert-success" role="alert">
        {{ msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}



<table id="tab_contact" class="table table-striped table-bordered table-hover" style="width:100%">
<thead>
<tr>
<th scope="col">Nom</th>
<th scope="col">Prénom</th>
<th scope="col">Mail</th>
<th scope="col">Numero de téléphone</th>
<th scope="col">Entreprise</th>
<th scope="col">Modifier</th>
<th scope="col">Supprimer</th>
</tr>
</thead>

<tbody>
{% for contact in contacts %}
<tr onmouseover="showModifs(this,{{ contact.id }})"  >
<td>{{contact.nom}}</td>
<td>{{contact.prenom}}</td>
<td>{{contact.mail}}</td>
<td>{{contact.telephone}}</td>
<td>{{contact.entreprise.getNomEntreprise()}}</td>
<td><a href="{{ path('contact_edit', {'id' : contact.id}) }}" class="edit-btn btn btn-warning active invisible">✎</a></td>
<td><a href="{{ path('contact_delete', {'id' : contact.id}) }}" class="delete-btn btn btn-danger active invisible">❌</a></td>
</tr>
{% endfor %}
</tbody>
</table>
<a class="btn btn-success" href= {{ path('contact_add')}} role="button">Créer un contact</a>
<script>
function showModifs(tr,id){
// Get all list buttons and pass them invisible
const allEdit = Object.values(document.getElementsByClassName('edit-btn'));
const allDel = Object.values(document.getElementsByClassName('delete-btn'));
const allBtns = allEdit.concat(allDel);
for(let i=0;i<allBtns.length;i++)
allBtns[i].classList.add('invisible');

//Make visible only the row buttons
const editBtn = tr.getElementsByClassName('edit-btn')[0];
const deleteBtn = tr.getElementsByClassName('delete-btn')[0];
editBtn.classList.remove("invisible");
deleteBtn.classList.remove("invisible");
}
</script>
{% endblock %}

{%  block javascripts %}
{{ parent() }}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script  type="text/javascript">
$(document).ready(function() {
    const table = $('#tab_contact').DataTable({
        select: true,
        scroll : 2000,
        lengthChange : false ,
        pageLength : 50,
        "language": {
        "sEmptyTable":     "Aucune donnée disponible dans le tableau",
 "sInfo":           "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
 "sInfoEmpty":      "Affichage de l'élément 0 à 0 sur 0 élément",
 "sInfoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
 "sInfoPostFix":    "",
 "sInfoThousands":  ",",
 "sLengthMenu":     "Afficher _MENU_ éléments",
 "sLoadingRecords": "Chargement...",
 "sProcessing":     "Traitement...",
 "sSearch":         "Rechercher :",
 "sZeroRecords":    "Aucun élément correspondant trouvé",
 "oPaginate": {
     "sFirst":    "Premier",
     "sLast":     "Dernier",
     "sNext":     "Suivant",
     "sPrevious": "Précédent"
 },
 "oAria": {
     "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
     "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
 },
 "select": {
         "rows": {
             "_": "%d lignes sélectionnées",
             "0": "Aucune ligne sélectionnée",
             "1": "1 ligne sélectionnée"
         }
 }
   }

    });

} );
</script>
{% endblock %}
