{% extends 'base.html.twig' %}

{% macro genereArborescence(dossiers) %}
	{% for dossier in dossiers %}
		<div class="alert alert-secondary" role="alert">
			> {{dossier.nom}}

			{% for fichier in dossier.fichiers %}
				{% if fichier.visible %}
					<div class="alert alert-light" role="alert">
				  		<li><a href="{{path('fichier_dl', {'id':fichier.id})}}">{{ fichier.nom }}</a></li>
						
					</div>
				{% endif %}
			{% endfor %}

			{{ _self.genereArborescence(dossier.coursEnfants) }}
		</div>
	{% endfor %}
{% endmacro %}

{% block body %}
	{{ _self.genereArborescence(data) }}
{% endblock %}
