{% extends 'base.html.twig' %}

{% block head %}
	{% block stylesheets %}
		{{ parent() }}
		{{ encore_entry_link_tags('treeStructure') }}
	{% endblock %}
{% endblock %}

{% macro genereArborescence(dossiers) %}
{% for dossier in dossiers %}
<li>
	{# Dossier #}
	<span class="node active">
		{% if not dossier.visible %}
			<i class="fas fa-eye-slash text-success"></i>
		{% endif %}
		{{dossier.nom}}
	</span>

	{# Bouton téléchargement .ZIP #}
	<span>
		<div class="btn-group ml-2" role="group">
	  		<a class="btn btn-light" href={{ path('dossier_dl', {'id' : dossier.id}) }}>
				<i class="far fa-file-archive"></i>
	  		</a>
		</div>
	</span>

	{# Fichiers #}
	<ul class="nest active">
		{% for fichier in dossier.fichiers %}
			{% if fichier.visible %}
				<li class="leaf">
		  			<a href={{path('fichier_dl', {'id':fichier.id})}} target="_blank">{{ fichier.nom }}</a>
		  		</li>
			{% endif %}
		{% endfor %}

		{{ _self.genereArborescence(dossier.coursEnfants) }}
	</ul>
</li>



{% endfor %}
{% endmacro %}

{% block body %}
	<ul class="tree">
		{{ _self.genereArborescence(data) }}
	</ul>

	{{ encore_entry_script_tags('treeStructure') }}
{% endblock %}
