{% extends 'base.html.twig' %}

{# Fonction récursive d'affichage
   des dossiers & fichiers #}
{% macro genereArborescence(dossiers) %}
	{% for dossier in dossiers %}
		<div class="alert alert-secondary">
			<div class="pb-2">
				> {{dossier.nom}}
				<div class="btn-group" role="group">
			  		<a class="btn btn-success btn-sm" href={{path('upload', {'cours':dossier.id})}}>+ Ajouter un cours</a>
					<button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#creerDossier" onclick="setDossierParent({{dossier.id}})">Créer un sous-dossier</button>
					<a class="btn btn-light btn-sm" href={{ path('dossier_edit', {'id' : dossier.id}) }}>Editer le dossier</a>
			  		<a class="btn btn-danger btn-sm" href={{path('cours_delete', {'id':dossier.id})}}>❌</a>
				</div>
			</div>
			{% for fichier in dossier.fichiers %}
				<div class="alert alert-light">
			  	<li>
			  		<a href="{{path('fichier_dl', {'id':fichier.id})}}">{{ fichier.nom }}</a>
			  		<div class="btn-group" role="group">
						<button id="{{ dossier.id }}" type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">...</button>
						<div class="dropdown-menu" aria-labelledby="{{ dossier.id }}">
						<a class="dropdown-item disabled" href="#">Changer la visibilité</a>
						<a class="dropdown-item disabled" href="#">Renommer</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item text-danger" href={{ path('fichier_delete', {'id' : fichier.id}) }}><small>❌</small> Supprimer</a>
						</div>
					</div>
				</li>
				</div>
			{% endfor %}

			{{ _self.genereArborescence(dossier.coursEnfants) }}
		</div>
	{% endfor %}
{% endmacro %}

{% block body %}
	{% for msg in app.session.flashBag.get('editTrue') %}
	    <div class="alert alert-success">
	        {{ msg }}
	    </div>
	{% endfor %}
	<div class="row mb-2">
		<button type="button" class="btn btn-light" data-toggle="modal" data-target="#creerDossier" onclick="setDossierParent(null)">Créer un dossier</button>
	</div>

	{{ _self.genereArborescence(dossiersRacines) }}

{# Popup de création d'un dossier #}
<div class="modal fade" id="creerDossier" tabindex="-1" role="dialog" aria-labelledby="creerDossierLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="creerDossierLabel">Ajouter un dossier</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		</div>
		{{ form_start(form) }}
		<div class="modal-body">
			{{ form_row(form.nom) }}
			{{ form_row(form.classes) }}
			<div class="d-none">
				{{ form_row(form.coursParent) }}
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
			<button type="submit" class="btn btn-primary">Créer</button>
		</div>
		{{ form_end(form) }}
	</div>
</div>
</div>
{# FIN popup #}

<script>
	/* Affichage du nom du fichier sélectionné dans le label */
	function setDossierParent(id) {
		document.getElementById('form_coursParent').value = id;
	}
</script>
{% endblock %}