{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Rechercher un article {% if classe != null %} appartenant à la {{ classe }} {% endif %}</h1>
    <br>

    {% for msg in app.session.flashBag.get('delete') %}
    <div class="alert alert-success" role="alert">
        {{ msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success_modifie') %}
    <div class="alert alert-success" role="alert">
        {{ msg }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <table id="tab_date" class="table table-striped table-bordered table-hover tableau-donnees" style="width:100%">
    <thead>
    <tr>
        <th scope="col">Date</th>
        <th scope="col">Titre</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
    </tr>
    </thead>

    <tbody>
    {% for article in articles %}
    <tr class="ligne">
        <td id="{{article.id}}">{{ article.date | date('d/m/Y') }}</td>
        <td>{{article.titre}}</td>
        <td><a href="{{ path('article_edit', {'id' : article.id}) }}" class="edit-btn btn btn-warning active invisible">✎</a></td>
        <td><a href="{{ path('article_delete', {'id' : article.id}) }}" class="edit-btn btn btn-danger active invisible">❌</a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    <a class="btn btn-success" href= {{ path('article_add')}} role="button">Ajouter un article</a>

{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    {{ encore_entry_script_tags('data-tables') }}
{% endblock %}
