{% extends 'base.html.twig' %}

{% block title %}Informations de Convention de Stage{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <h1>Informations de convention de stage </h1>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"><i class=""></i>&nbsp;&nbsp;Informations Stage</th>
            <th scope="col" >Etat de la convention : {{ stageForm.etatStages.nomEtat }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Etudiant</th>
            <td>    {{ stageForm.etudiant }} -  {{ stageForm.etudiant.classe }}</td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;NumINE</th>
            <td>    {{ stageForm.numINE }}</td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Sex</th>
            <td> cd /var/www
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Numero télephone étudiant</th>
            <td>
                {{ stageForm.numeroTelEtudiant }}
            </td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Mail personnel</th>
            <td>{{ stageForm.etudiant.mail }}</td>
        </tr>
        {%  if etat=="Commencer"  %}
            <tr>
                <th scope="row"><i class=""></i>&nbsp;&nbsp;Tuteur IUT</th>
                <td>{{ stageForm.TuteurIUT }}</td>
            </tr>
        {% endif %}
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Nom de l'entreprise</th>
            <td> {{ stageForm.nomEntreprise }}</td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;N°SIRET</th>
            <td>{{ stageForm.numSIRET }}</td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Adresse du siège social</th>
            <td>{{ stageForm.addresseSiegeEntreprise }} {{ stageForm.codePostal}} {{ stageForm.ville}}</td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Adresse du Stage</th>
            <td>{{ stageForm.addresseStage }}</td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;Signataire</th>
            <td>{{ stageForm.nomPrenomSignataire }}</td>
        </tr> <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Fonction</th>
            <td>{{ stageForm.fonctionSignataire}}</td>
        </tr> <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Téléphone</th>
            <td>{{ stageForm.numTelSignataire}}</td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Mail</th>
            <td>{{ stageForm.mailSignataire }}</td>
        </tr>

        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Tuteur</th>
            <td>{{ stageForm.nomTuteur}} {{ stageForm.prenomTuteur}}</td>
        </tr>

        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Mail</th>
            <td>{{ stageForm.mailTuteur }}</td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Fonction</th>
            <td>    {{ stageForm.fonctionTuteur}}</td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp;&nbsp;Sujet</th>
            <td>{{ stageForm.sujetStage }}</td>
        </tr>
        <tr>
            <th scope="row"><i class=""></i>&nbsp Informations </th>
            <td>{{ stageForm.informationSupp }}</td>
        </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_RESPONSABLE_DES_STAGES') %}
        {% if etat=="Envoyer" %}
            <a type="button" class="btn btn-success" href="{{ path('stage_valider',{'id' : stageForm.id}) }}">
                Valider la convention
            </a>
        {% endif %}

        {% if etat=="Signer" %}
            <a type="button" class="btn btn-success" href="{{ path('stage_affecter',{'id' : stageForm.id}) }}">
                Affecter un tuteur
            </a>
        {% endif %}

    {% endif %}

    {% if is_granted('ROLE_SECRETAIRE') %}

        {% if etat=="Valider" %}

            <a type="button" class="btn btn-success" href="{{ path('stage_valider_signature',{'id' : stageForm.id}) }}">
                Valider les signatures
            </a>
        {% endif %}


        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="position: relative ;">Supprimer</button>
    {% endif %}

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choisir une option</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h7>Voulez vous vraiment supprimer le stage ? </h7>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-success" href="{{ path('stage_supprimer',{'id' : stageForm.id}) }}">
                        Valider
                    </a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
