<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Site des LP{% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/r-2.2.3/sc-2.0.1/sl-1.3.1/datatables.min.css"/>
        <link href="https://bootswatch.com/4/journal/bootstrap.min.css" rel="stylesheet">
        {{encore_entry_link_tags('app')}}

        {% endblock %}
        {% block javascript %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light my_nav">
    {# Navbar - Logo #}
    <a class="navbar-brand my_nav_item" href={{ path('home') }}>Site des lp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {# Menu déroulant #}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {# Accueil #}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{ path('home') }}>Accueil <span class="sr-only"></span></a>
        </li>

        {# A propos #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle my_nav_item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">À propos</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {# Informations #}
            <a class="dropdown-item" href={{ path('informations_globales') }}>L'IUT</a>
            <a class="dropdown-item" href={{ path('informations_classes') }}>Les licences</a>
          </div>
        </li>
          {# Entreprises #}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle my_nav_item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entreprise</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {# Création #}
                  <a class="dropdown-item" href={{ path('entreprise_create') }}>Nouvelle Entreprise</a>
              </div>
          </li>


          {# Articles #}
        {% if is_granted('ROLE_SECRETAIRE') or is_granted('ROLE_PROFESSEURRESPONSABLE')%}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{path('article_search') }}>Articles <span class="sr-only"></span></a>
        </li>
        {% endif %}

        {# Etudiants #}
        {% if is_granted('ROLE_PROFESSEURRESPONSABLE') or is_granted('ROLE_ADMIN') %}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{ path('research_etudiant') }}>Étudiants <span class="sr-only"></span></a>
        </li>
        {% endif %}

        {# Info licence du prof #}
        {% if is_granted('ROLE_PROFESSEURRESPONSABLE') %}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{ path('informations_classes_print') }}>Informations licence<span class="sr-only"></span></a>
        </li>
        {% endif %}

        {# Contact #}
        {% if is_granted('ROLE_PROFESSEURRESPONSABLE') %}
            <li class="nav-item active">
                <a class="nav-link my_nav_item" href={{ path('contact_search') }}>Contacts<span class="sr-only"></span></a>
            </li>
        {% endif %}

        {# Classes #}
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{ path('classe_research') }}>Classes <span class="sr-only"></span></a>
        </li>

        {# Profs #}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{ path('prof_search') }}>Professeurs <span class="sr-only"></span></a>
        </li>

        {# Secrétaires #}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{ path('secretaire_search') }}>Secrétaires <span class="sr-only"></span></a>
        </li>

        {# Informations globales #}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{ path('informations_globales_edit', {'id' : 1}) }}>Informations globales<span class="sr-only"></span></a>
        </li>
        {% endif %}

        {# Gestion cours prof #}
        {% if is_granted('ROLE_PROFESSEURRESPONSABLE') or is_granted('ROLE_PROFESSEUR') %}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{ path('cours_gest') }}>Gestion des cours<span class="sr-only"></span></a>
        </li>
        {% endif %}

        {# Affichage cours etudiant #}
        {% if is_granted('ROLE_ETUDIANT') %}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{ path('cours_affi') }}>Voir les cours<span class="sr-only"></span></a>
        </li>
        {% endif %}
      </ul>

      {# Connexion #}
      <ul class="nav navbar-nav ml-auto">
        {% if not app.user %}
        <li class="nav-item active">
          <a class="nav-link my_nav_item" href={{ path('connexion') }}>Connexion <span class="sr-only"></span></a>
        </li>

        {# Connecté #}
        {% else %}
            <div class="dropdown dropleft float-right">
                <button type="button" class="btn btn-primary dropdown-toggle" id="userItem" data-toggle="dropdown">
                  {{ app.user }}
                </button>
                <div class="dropdown-menu">
                  <h6 class="dropdown-header">{{ app.user }}</h6>

                  {# Modifier Mot de passe #}
                  {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href={{ path('admin_change_password') }}>Modifier mon mot de passe</a>
                  {% elseif not is_granted('ROLE_ADMIN') and app.user %}

                  {# Compte #}
                  <a class="dropdown-item" href={% if is_granted('ROLE_ETUDIANT') %}"{{ path('etudiant_account') }}"{% endif %}{% if is_granted('ROLE_PROFESSEUR') %}"{{ path('professeur_account') }}"{% endif %}{% if is_granted('ROLE_SECRETAIRE') %}"{{ path('secretaire_account') }}"{% endif %}>Mon compte<span class="sr-only"></span></a>
                  {% endif %}

                  {# Déconnexion #}
                  <a class="dropdown-item" href={{ path('deconnexion') }} data-toggle="modal" data-target="#deconnexionModal" id="deconnect" >Déconnexion <span class="sr-only"></span></a>
                </div>
            </div>
    {% endif %}
      </ul>

    </div>
  </nav>

  <div class="container-fluid">
      <div class="specialContainer">
        {% block body %}

        {% endblock %}
      </div>
  </div>
  <div class="modal fade" id="deconnexionModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="modalLabel">Deconnexion</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  Vous allez être deconnecté
              </div>
              <div class="modal-footer">
                  {# Déconnexion #}
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                  <a role="button" class="btn btn-success" href= {{ path('deconnexion') }} >Continuer</a>
              </div>
          </div>
      </div>
  </div>

  <br/>
  <br/>
  <br/>
<!-- Footer -->
<!--<footer class="page-footer font-small blue">


  <div class="footer-copyright text-center py-3">© {{"now"|date("Y") }} Copyright - Site des LP
  </div>


</footer> -->
  {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('writeFileName') }}
  {% endblock %}
    </body>
</html>
