{% extends 'base.html.twig' %}

{% block title %}Les types d'offres d'emploi{% endblock %}

{% block body %}
    <div class="info-globales">
        <div class="col">
            <p>Voici les différents types d'offres s'emploi :</p>
            <div class="lesTypesOffre">
                {% for type in types %}
                    {% if type.nomType == 'Emploi' and is_granted('ROLE_ANCIENETUDIANT') or type.nomType == 'Emploi' and is_granted('ROLE_ETUDIANT') %}
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Offre {{ type.nomType }} ({{ type.NbOffres }})</h5>
                            {% if type.NbOffres > 0 %} <a href="{{ path('offre_afficher', {'id': type.id}) }}" class="btn btn-primary">Afficher les offres</a> {% endif %}
                            </div>
                        </div>
                    {% elseif is_granted('ROLE_ETUDIANT') %}
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Offre {{ type.nomType }} ({{ type.NbOffres }})</h5>
                            {% if type.NbOffres > 0 %} <a href="{{ path('offre_afficher', {'id': type.id}) }}" class="btn btn-primary">Afficher les offres</a> {% endif %}
                            </div>
                        </div>
                    {% elseif is_granted('ROLE_CANDIDAT') and type.nomType != 'Emploi' %}
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Offre {{ type.nomType }} ({{ type.NbOffres }})</h5>
                            {% if type.NbOffres > 0 %} <a href="{{ path('offre_afficher', {'id': type.id}) }}" class="btn btn-primary">Afficher les offres</a> {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
