{% extends 'base.html.twig' %}

{% block body %}
<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{{ path('professeur_change_password') }}"><button type="button" class="btn btn-secondary">Modifier mon mot de passe</button></a>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Informations utilisateur</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Nom</th>
      <td>{{ prof.nomProfesseur }}</td>
    </tr>
    <tr>
      <th scope="row">Prénom</th>
      <td>{{ prof.prenomProfesseur }}</td>
    </tr>
      <th scope="row">Mail académique</th>
      <td>{{ prof.mailAcademique }}</td>
    </tr>
    <tr>
      <th scope="row">Classe responsable</th>
      <td>
        {% if prof.classeResponsable == "" %}
            non identifiée
        {% else %}
        {{ prof.classeResponsable}}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th scope="row">Login</th>
      <td>{{ prof.login }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}