{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Rechercher un professeur</h1>

    {% for msg in app.session.flashBag.get('notDelete') %}
        <div class="alert alert-primary" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% for msg in app.session.flashBag.get('delete') %}
        <div class="alert alert-success" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success_modifie') %}
        <div class="alert alert-success" role="alert">
            {{ msg }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    <table id="tab" class="table table-striped table-bordered table-hover tableau-donnees" style="width:100%">
        <thead>
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Mail Academique</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>

        <tbody>
            {% for prof in profs %}
            <tr class="ligne">
                <th id="{{ prof.id }}" >{{prof.login}}</th>
                <td>{{prof.nomProfesseur}}</td>
                <td>{{prof.prenomProfesseur}}</td>
                <td>{{prof.mailAcademique}}</td>
                <td><a href="{{ path('prof_modifier', {'id' : prof.id}) }}" class="edit-btn btn btn-warning active invisible">✎</a></td>
                <td><a href="{{ path('prof_supprimer', {'id' : prof.id}) }}" class="edit-btn btn btn-danger active invisible">❌</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href= {{ path('prof_ajouter')}} role="button">Créer un professeur</a>
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    {{ encore_entry_script_tags('data-tables') }}
{% endblock %}
