{% extends 'base.html.twig' %}
{% form_theme form_create_etudiant 'bootstrap_4_layout.html.twig' %}

{% block body %}
{% if editMode %}
    <h1>Modification de l'étudiant {{ etudiant.nom }} {{ etudiant.prenom }}</h1>
{% else %}
    {% if is_granted('ROLE_PROFESSEURRESPONSABLE') %}
        <h1>Création d'un étudiant de la {{ classe.nomClasse }}</h1>
    {% else %}
         <h1>Création d'un étudiant</h1>
    {% endif %}
{% endif %}

{% if is_granted('ROLE_PROFESSEURRESPONSABLE') %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="position: relative ;left: 1000px">Importer un fichier CSV</button>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Importer un CSV</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{path("etudiant_importer_csv")}}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" id="inputGroupFile01" class="custom-file-input"
                                       aria-describedby="inputGroupFileAddon01" name="importEtu" >
                                <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mb-5" name="sub" style="margin-left: 15px">Importer</button>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

    {{ form_start(form_create_etudiant) }}

{{ form_row(form_create_etudiant.nom , {'label': 'Nom','attr' : {'placeholder' : "Nom de l'étudiant" }}) }}
{{ form_row(form_create_etudiant.prenom , {'label': 'Prénom','attr' : {'placeholder' : "Prénom de l'étudiant" }}) }}

{% if editMode %}
{{ form_row(form_create_etudiant.login , {'attr' : {'placeholder' : "Prénom de l'étudiant" }}) }}
{{ form_row(form_create_etudiant.mailAcademique , {'label': 'Mail académique','attr' : {'placeholder' : "Mail académique de l'étudiant" }}) }}
{% endif %}

{% if editMode == false %}
    {{ form_row(form_create_etudiant.new_password,{'label': 'Mot de passe','attr' : {'placeholder' : "Mot de passe de l'étudiant" }}) }}
    {{ form_row(form_create_etudiant.confirm_password, {'label': 'Confirmer mot de passe','attr' : {'placeholder' : "Confirmer le mot de passe de l'étudiant" }}) }}
{% endif %}

{{ form_row(form_create_etudiant.mail, {'attr' : {'placeholder' : "Mail de l'étudiant" }}) }}
{{ form_row(form_create_etudiant.date_naissance, {'attr' : {'placeholder' : "Date de naissance de l'étudiant" }}) }}
{% if not is_granted('ROLE_PROFESSEURRESPONSABLE') %}
{{ form_row(form_create_etudiant.classe,{'label': 'Classe'}) }}
{% endif %}

<button type="submit" class="btn btn-success">
    {% if editMode %}
        Modifier l'<étudiant></étudiant>
    {% else %}
        Créer l'étudiant
    {% endif %}
</button>

{% if editMode and etudiant.isAncienEtudiant %}
<a href={{ path('etudiant_transformer_contact', {'id' : etudiant.id}) }} class="btn btn-danger text-white">Transformer en contact</a>
{% endif %}

{{ form_end(form_create_etudiant) }}
{% endblock %}
