{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifier un étudiant</h1>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Date de naissance</th>
        </tr>
    </thead>
    <tbody>
    {% for etudiant in etudiants %}
        <tr>
        <th scope="row">{{ etudiant.id }}</th>
        <td>{{ etudiant.nomEtudiant }}</td>
        <td>{{ etudiant.prenomEtudiant }}</td>
        <td>{{ etudiant.dateNaissance | date('d/m/Y') }}</td>
        <td><a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}"><input type="button" value="Modifier l'étudiant"></a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
{% block javascripts %}
{{ parent() }}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{%  endblock %}