{% extends 'base.html.twig' %}

{% block body %}
<h1>Rechercher un étudiant</h1>



<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th scope="col">Login</th>
        <th scope="col">NomEtudiant</th>
        <th scope="col">PrenomEtudiant</th>
        <th scope="col">MailAcademique</th>
        <th scope="col">MailPersonnel</th>
        <th scope="col">DateNaissance</th>

    </tr>
    </thead>
    <tbody>
    {% for etudiant in etudiants %}
    <tr>
        <th>{{etudiant.login}}</th>
        <td>{{etudiant.nomEtudiant}}</td>
        <td>{{etudiant.prenomEtudiant}}</td>
        <td>{{etudiant.mailAcademique}}</td>
        <td>{{etudiant.mail}}</td>
        <td>{{etudiant.dateNaissance | date('d/m/Y')}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script  type="text/javascript">
    $(document).ready(function() {
        $('#example').DataTable({
            select: true,
            scroll : 2000,
            lengthChange : false ,
            pageLength : 50,
        });
    } );
</script>
{% endblock %}