{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 xmlns:disable="http://www.w3.org/1999/xhtml">Rechercher un étudiant</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% for message in app.flashes('purge') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('info') %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('notDelete') %}
        <div class="alert alert-primary">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.session.flashBag.get('delete') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('mdp_change') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('mail_change') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    {% for msg in app.session.flashBag.get('success_modifie') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    <table id="tab" class="table table-striped table-bordered table-hover tableau-donnees" style="width:100%">
        <thead>
        <tr>
            <th scope="col">Login</th>
            <th scope="col">Nom Etudiant</th>
            <th scope="col">Prenom Etudiant</th>
            <th scope="col">Mail Academique</th>
            <th scope="col">Mail Personnel</th>
            <th scope="col">Date Naissance</th>
            {% if not is_granted('ROLE_PROFESSEURRESPONSABLE') %}
                <th scope="col">Classe</th>
            {% endif %}
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            <tr class="ligne">
                <th id="{{ etudiant.id }}" >{{etudiant.login}}</th>
                <td>{{etudiant.nomEtudiant}}</td>
                <td>{{etudiant.prenomEtudiant}}</td>
                <td>{{etudiant.mailAcademique}}</td>
                <td>{{etudiant.mail}}</td>
                <td>{{etudiant.dateNaissance | date('d/m/Y')}}</td>
                {% if not is_granted('ROLE_PROFESSEURRESPONSABLE') %}
                    <td>{{etudiant.classe}}</td>
                {% endif %}
                <td><a href="{{ path('etudiant_modifier', {'id' : etudiant.id}) }}" class="edit-btn btn btn-warning active invisible">✎</a></td>
                <td><a href="{{ path('etudiant_supprimer', {'id' : etudiant.id}) }}" class="edit-btn btn btn-danger active invisible">❌</a></td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-success" href= {{ path('etudiant_nouveau')}} role="button">Créer un étudiant</a>
    {% if is_granted('ROLE_PROFESSEURRESPONSABLE') %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="position: relative ;">Importer un fichier CSV</button>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Importer un CSV</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{{path("etudiant_importer_csv")}}" method="post" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" id="inputGroupFile01" class="custom-file-input"
                                           aria-describedby="inputGroupFileAddon01" name="importEtu" onchange="afficheBtn()">
                                    <label class="custom-file-label" for="inputGroupFile01">Choisir un fichier</label>
                                </div>
                                <a class="btn btn-light btn-outline-secondary" onclick="afficherInfo()" id="btnInfo" >?</a>
                            </div>

                        </div>
                        <button type="submit" name ="sub" class="btn btn-success mb-5"  id="sub" style="margin-left: 15px;" disabled>Importer</button>
                    </form>
                    <div id="infoCsv" class="card" style="display: none" >
                        <div class="card-body">
                                Le format à respecter pour le fichier CSV est ceci : <br>
                                Le Header : <br>"nom_etudiant","prenom_etudiant","mdp_etudiant", <br>"mail_etudiant","date_naissance"<br>
                                Le Corps : <br> nom,prenom,mdp,mail,date<br>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>

    {% endif %}
    {% if is_granted('ROLE_PROFESSEURRESPONSABLE') %}
        {% if mois >= 7 and mois <= 9  and clique == false %}
            <br><br><a class="btn btn-danger" href= {{ path('classe_purger' , {'id' : classeID}) }} role="button">Passer les étudiants de la classe en ancien étudiant</a>
        {% endif %}
    {% endif %}

{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        function afficheBtn(){
            let inputElt = document.getElementById('inputGroupFile01');
            let btn = document.getElementById('sub');
            btn.disabled = inputElt.value === "";
        }

        function afficherInfo(){
            let info = document.getElementById('infoCsv');
            if(info.style.display==="block"){
                info.style.display="none";
            }else{
                info.style.display="block";
            }
        }
    </script>
    {{ encore_entry_script_tags('data-tables') }}
{% endblock %}
